@font-face {
  src: url('Inter-VariableFont_slnt,wght.ttf');
  font-family: Inter;
}

@font-face {
  src: url('Karla-VariableFont_wght.ttf');
  font-family: Karla;
}

body {
  margin: 0;
  background-color: #1f2937;
  color: #fff;
  font-size: 16px;
  font-family: Inter;
}

h1 {
  font-size: 40px;
  font-family: Karla;
}

h2 {
  font-size: 20px;
}
